<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Open App</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.bethebatch.Batch</string>
			</array>
		</dict>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>FirebaseOpenAppQueryItemEmailName</key>
	<string>email</string>
	<key>FirebaseOpenAppScheme</key>
	<string>https</string>
	<key>FirebaseOpenAppURIPrefix</key>
	<string>batch.page.link</string>
	<key>UIAppFonts</key>
	<array>
		<string>Brown-Bold.ttf</string>
		<string>Gilroy-ExtraBold.otf</string>
		<string>Gorga-Grotesque-Bold.otf</string>
		<string>Gilroy-Bold</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
